<ion-content>
  <div class="main">
    <div class="container2">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt">Pendaftaran</span>
      </div>
    </div>
  </div>
  <div class="main2">
    <div class="container3">
      <div class="boxgrey">
        <div class="tetapanword">Daftar Akaun</div>
      </div>
      <form [formGroup]="registerForm">
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Nama Penuh <br>
          <ion-input type="text" class="input" placeholder="Masukkan Nama Penuh Anda" formControlName="name"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Nombor Telefon <br>
          <ion-input type="number" class="input" placeholder="000000000" formControlName="no_telefon">+60 </ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Nombor Kad Pengenalan <br>
          <ion-input type="number" class="input" placeholder="000000000000" formControlName="no_ic"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Alamat <br>
          <ion-input type="text" class="input" placeholder="Masukkan Alamat Rumah Anda" formControlName="alamat"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Poskod <br>
          <ion-input type="text" class="input" placeholder="00000" formControlName="poskod"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Bandar <br>
          <ion-input type="text" class="input" placeholder="" formControlName="bandar"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Negeri <br>
          <ion-input type="text" class="input" placeholder="" formControlName="negeri"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          E-mel <br>
          <ion-input type="text" class="input" placeholder="Masukkan E-mel Anda" formControlName="email"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Kata Laluan <br>
          <ion-input type="password" class="input" placeholder="Masukkan Kata Laluan Anda" formControlName="password"></ion-input>
        </div>
        <div style="padding:35px 30px 0px 30px;">
          <button ion-button class="button" (click)="daftar()">Daftar</button>
        </div>
      </form>
      <div class="bottomword">
        Sudah Mempunyai Akaun? <span style="font-weight:600;" (click)="login()">Log Masuk</span>
      </div>
    </div>  
  </div>  
</ion-content>
