.container2 {
    padding-top: 50px;
    padding: 50px 10px 20px 10px;
    height: 180px;
}

.container3 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.boxwhite {
    color: #3D2C7C;
    padding: 25px 0px 0px 0px;
    font-size: 16px;
    width: 80%;
    margin:auto;
}

.button {
    background-color: #3D2C7C;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.bottomword {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #494949;
    text-align: center;
    padding: 20px 0px;
    // padding:15px 30px 0px 30px;
}

.validator {
    color: red;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0px;
    width: 80%;
    margin:auto;
}

span{
  font-size: 12px !important;
}
