<ion-content>
  <div class="main">
    <div class="container2">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt">Pendaftaran</span>
      </div>
    </div>
  </div>
  <div class="main2">
    <div class="container3">
      <div class="boxgrey">
        <div class="tetapanword">Daftar Akaun</div>
      </div>
      <form [formGroup]="registerForm">
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Nama Penuh <br>
          <ion-input type="text" class="input" placeholder="Masukkan Nama Penuh Anda" clearInput formControlName="name">
          </ion-input>
          <span style="font-size: 10px;">required*</span>

        </div>
        <div *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.dirty" class="validator">
          Nama Penuh Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Nombor Telefon <br>
          <ion-input type="tel" maxlength="9" class="input" placeholder="000000000" clearInput
            formControlName="no_telefon" (keypress)="numericOnly($event)">+60 </ion-input>
          <span style="font-size: 10px;">required*</span>
        </div>
        <div *ngIf="!registerForm.controls.no_telefon.valid && registerForm.controls.no_telefon.dirty"
          class="validator">
          Nombor Telefon Yang Sah Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Nombor Kad Pengenalan <br>
          <ion-input type="tel" maxlength="12" class="input" placeholder="Letakkan nombor IC sahaja tanpa -" clearInput
            formControlName="no_ic" (keypress)="numericOnly($event)"></ion-input>
          <span style="font-size: 10px;">required*</span>

        </div>
        <div *ngIf="!registerForm.controls.no_ic.valid && registerForm.controls.no_ic.dirty" class="validator">
          No Kad Pengenalan Yang Sah Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Alamat <br>
          <ion-input type="text" class="input" placeholder="Masukkan Alamat Rumah Anda" clearInput
            formControlName="alamat"></ion-input>
          <span style="font-size: 10px;">required*</span>

        </div>
        <div *ngIf="!registerForm.controls.alamat.valid && registerForm.controls.alamat.dirty" class="validator">
          Alamat Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Poskod <br>
          <ion-input type="tel" maxlength="5" class="input" placeholder="00000" clearInput formControlName="poskod"
            (keypress)="numericOnly($event)"></ion-input>
        </div>
        <div *ngIf="!registerForm.controls.poskod.valid && registerForm.controls.poskod.dirty" class="validator">
          Poskod Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Bandar <br>
          <ion-input type="text" class="input" placeholder="" clearInput formControlName="bandar"></ion-input>
          <span style="font-size: 10px;">required*</span>

        </div>
        <div *ngIf="!registerForm.controls.bandar.valid && registerForm.controls.bandar.dirty" class="validator">
          Bandar Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Negeri <br>
          <ion-input type="text" class="input" placeholder="" clearInput formControlName="negeri"></ion-input>
          <span style="font-size: 10px;">required*</span>

        </div>
        <div *ngIf="!registerForm.controls.negeri.valid && registerForm.controls.negeri.dirty" class="validator">
          Negeri Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          E-mel <br>
          <ion-input type="text" class="input" placeholder="Masukkan E-mel Anda" clearInput formControlName="email">
          </ion-input>
          <span style="font-size: 8px;">required*</span>

        </div>
        <div *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty" class="validator">
          Alamat Emel Yang Sah Diperlukan.
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          Kata Laluan <br>
          <div style="width: 90%;display: inline-block;">
            <ion-input type="{{showPass ? 'password' : 'text' }}" placeholder="Masukkan Kata Laluan Anda" clearInput
              formControlName="password"></ion-input>
            <span style="font-size: 8px;">required*</span>

          </div>
          <div style="width: 10%;display: inline-block;" (click)='hideShowPassword()'>
            <ion-icon style="float: right;" name="{{showPass ? 'eye-outline' : 'eye-off-outline' }}"></ion-icon>
          </div>
        </div>
        <div *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty" class="validator">
          Kata Laluan Diperlukan.
        </div>
        <div style="padding:35px 30px 0px 30px;">
          <button ion-button class="button" [disabled]="!registerForm.valid" (click)="daftar()">Daftar</button>
        </div>
      </form>
      <div class="bottomword">
        Sudah Mempunyai Akaun? <span style="font-weight:600;" (click)="login()">Log Masuk</span>
      </div>
    </div>
  </div>
</ion-content>
