.container2 {
    padding-top: 50px;
    // height: 650px;
}

.boxwhite {
    color: #3D2C7C;
    padding: 25px 0px 0px 0px;
    font-size: 16px;
    width: 80%;
    margin:auto;
}

.input {
    color: black;
    display: inline-block;
    width: 70%;
}

.button {
    background-color: #3D2C7C;
    border: 1pt solid #3D2C7C;
    height: 48px;
    width: 70%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.button2 {
    background-color:white;
    color: #3D2C7C;
    border: 1pt solid #3D2C7C;
    height: 48px;
    width: 70%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}