.container2 {
    padding-top: 50px;
    padding: 50px 25px 20px 10px;
    height: 180px;
}

.container3 {
    padding: 30px 0px;
    height: 700px;
}

.jumlah {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #8B9EB0;
}

.jum {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.165px;
    color: #D23330;
}

.txtbox {
    background: #FFFFFF;
    border: 1px solid #3D2C7C;
    border-radius: 14px;
    height: 55px;
    padding: 15px 10px 8px 25px;
}

.txtbox2 {
    background: #FFFFFF;
    border: 1px solid #3D2C7C;
    border-radius: 14px;
    height: 55px;
    padding: 8px 10px 5px 45px;
}

.txtbox3 {
    background: #FFFFFF;
    border: 1px solid #3D2C7C;
    border-radius: 14px;
    height: 55px;
}


.input {
    color: black;
    display: inline-block;
}

.tambah {
    background: #3D2C7C;
    border-radius: 10px;
    font-size: 30px;
    height: 40px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.wordbox {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    color: #494949;
}

.button {
    background-color: #3D2C7C;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}