page-login {
    // font-family: 'Poppins';
    font-size:13px;
}

.input-div {
    padding-top: 25px;
}

.input {
    border: 1pt solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    height: 48px;
    background-color: white;
    color: black;
}

.button {
    background-color: #3D2C7C;
    height: 48px;
    width: 100%;
    border-radius: 10px;
}

.label {
    color: white;
}

.forgotpass {
    width: 100%;
    text-align:right;
    padding:3px 10px 0px 0px;
    color:white;
}

.divall {
    height: 100%;
    width: 100%;
}

.iconsisper {
    width: 89px;
    height: 110px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

.iconsisper2 {
    width: 205px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.loginhead {
    padding-top: 70px;
    margin: auto;
    text-align: center;
}

.lower-content {
    // position: absolute;
    // bottom: 20px;
    padding-top: 150px;
    text-align: center;
    width: 100%;
}

.ketengahword {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 3px;
    color: #FFFFFF;
    width: 100%;
}

.background {
    background-image: linear-gradient(rgba(61, 44, 124, .9) 27.6%, rgba(201, 87, 121, .9) 66.15%, rgba(117, 5, 4, .9) 100%), url('/assets/icon/background.png');
}
