<ion-content padding class="background">
  <div class="background divall scroll-content">
    <ion-grid >
      <ion-row>
        <div class="loginhead" style="height:250px;">
          <ion-img class="iconsisper" src="../../assets/icon/sisperlogin.png"></ion-img>
          <ion-img class="iconsisper2" src="../../assets/icon/sisperlogin2.png"></ion-img>
        </div>
      </ion-row>
      <ion-row>
          <div style="padding: 0px 50px;width: 100%;">
            <form [formGroup]="credentials">
              <div class="input-div">
                <label class="label">Nombor Telefon</label>
                  <div style="padding-top: 10px;">
                    <ion-input type="number" class="input" formControlName="no_telefon"></ion-input>
                  </div>
              </div>
              <div class="input-div">
                <label class="label">Kata Laluan</label>
                  <div style="padding-top: 10px;">
                    <ion-input type="password" class="input" formControlName="password"></ion-input>
                  </div>
                <div class="forgotpass" (click)="forgotpass()">Lupa Kata Laluan?</div>
              </div>
              <div style="padding-top: 35px;">
                <button ion-button class="button" (click)="login()">Log Masuk</button>
              </div>
              <div class="input-div" style="font-weight:400;color:white;">
                Tiada Akaun? <span style="font-weight:600;color: #F6C949;" (click)="register()">Daftar Sekarang</span>
              </div>
            </form>
          </div>
      </ion-row>  
      <ion-row>
        <div class="lower-content">
          <ion-img src="../../assets/icon/ketengah.png" style="width: 46.51px;height: 61px;margin-left: auto;
          margin-right: auto;padding-bottom: 10px;"></ion-img>
          <div class="ketengahword">LEMBAGA KEMAJUAN TERENGGANU TENGAH</div>
        </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>