.container2 {
    padding-top: 50px;
    height: 450px;
}

.boxwhite {
    color: #3D2C7C;
    padding: 15px 0px 15px 0px;
    font-size: 16px;
    width: 80%;
    margin:auto;
}

.button {
    background-color: #3D2C7C;
    height: 48px;
    width: 70%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}