.container2 {
    padding-top: 50px;
    padding: 50px 25px 20px 10px;
    height: 180px;
}

.container3 {
    padding: 50px 50px 20px 50px;
    height: 700px;
}

.pagetitle {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #3D2C7C;
}

.search {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #3D2C7C;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 14px #C5D7EE;
    border-radius: 9px;
    height: 48px;
    width: 90%;
    color: #3D2C7C;
}

.searchbtn {
    width: 20px;
    height: 20px;
    color: #3D2C7C;
    display: inline-block;
    padding-top: 5px;
}

.srchtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #494949;
}

.card {
    background: #FFFFFF;
    border: 1px solid #F7FAFD;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 17px;
}

.nama {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #494949;
    padding: 2px 0px;
}

.jenis {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #F6C949;
    padding: 2px 0px;
}

.nophone {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #3D2C7C;
    padding: 2px 0px;
}