<ion-tabs style="background-color: white;">
  <ion-tab-bar slot="bottom" class="tabbar">
    <ion-tab-button tab="home" class="tab">
      <ion-img src="../../assets/icon/home.png" class="tabicon"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="profil" class="tab">
      <ion-img src="../../assets/icon/profil.png" class="tabicon"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="doc" class="tab">
      <ion-img src="../../assets/icon/doc.png" class="tabicon"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="setting" class="tab">
      <ion-img src="../../assets/icon/setting.png" class="tabicon"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
