<ion-content>
  <div class="main">
    <div class="container2">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt">{{ 'aduan.aduan' | translate }}</span>
        <ion-img src="../../assets/icon/adminmenu.png" style="position: absolute;top: 50px;right: 20px;" class="iconnoti" (click)="adminmenu()"></ion-img>
      </div>
    </div>
  </div>
  <div class="main2">
    <div class="container3">
      <table style="width: 100%;">
        <colgroup>
          <col style="width: 50%;">
          <col style="width: 50%;">
        </colgroup>
        <tr>
          <td style="padding: 10px 10px;">
            <div class="cardaduan" (click)="senaraiaduan(aduanfront.status1.detail)">
              <div class="count">{{aduanfront.status1.count}}</div>
              <div class="cardword">{{ 'aduan.aduan' | translate }}</div>
              <div class="desc">Tiada status</div>
            </div>
          </td>
          <td style="padding: 10px 10px;">
            <div class="cardaduan" (click)="senaraiaduan(aduanfront.status2.detail)">
              <div class="count">{{aduanfront.status2.count}}</div>
              <div class="cardword">{{ 'aduan.aduan' | translate }}</div>
              <div class="desc" style="color:#D23330;">Belum Dibaiki</div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 10px;">
            <div class="cardaduan" (click)="senaraiaduan(aduanfront.status5.detail)">
              <div class="count">{{aduanfront.status5.count}}</div>
              <div class="cardword">{{ 'aduan.aduan' | translate }}</div>
              <div class="desc">Kontrak</div>
            </div>
          </td>
          <td style="padding: 10px 10px;">
            <div class="cardaduan" (click)="senaraiaduan(aduanfront.status3.detail)">
              <div class="count">{{aduanfront.status3.count}}</div>
              <div class="cardword">{{ 'aduan.aduan' | translate }}</div>
              <div class="desc" style="color:#F6C949;">Dibaiki Sebahagian</div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 10px;">
            <div class="cardaduan" (click)="senaraiaduan(aduanfront.status6.detail)">
              <div class="count">{{aduanfront.status6.count}}</div>
              <div class="cardword">{{ 'aduan.aduan' | translate }}</div>
              <div class="desc">Semakan</div>
            </div>
          </td>
          <td style="padding: 10px 10px;">
            <div class="cardaduan" (click)="senaraiaduan(aduanfront.status4.detail)">
              <div class="count">{{aduanfront.status4.count}}</div>
              <div class="cardword">{{ 'aduan.aduan' | translate }}</div>
              <div class="desc" style="color:#009640;">Sudah Dibaiki</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
