<ion-content>
  <div class="main">
    <div class="container2">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt" style="width:70%;margin: auto;display: inline-block;">{{ 'notis.notisumum' | translate }}</span>
        <ion-img src="../../assets/icon/delete.png" class="icondeletehist" style="float: right;" (click)="deletehist()"></ion-img>
      </div>
    </div>
  </div>
  <div class="main2">
    <div class="container3">
      <div class="semua" *ngIf="deleteall == true">
        Pilih Semua
        <div style="float: right;"><ion-checkbox style="margin-right:20px;" (click)="checkAll($event)"></ion-checkbox></div>
      </div>
      <div *ngFor="let item of checkBoxList;let i=index" style="padding-bottom:20px">
        <ion-item-sliding *ngIf="item.view == false">
          <ion-item style="background-color: white;">  
            <table style="border-bottom: 0.7px solid #E8E8E8; height: 58px;width: 100%;">
              <colgroup>
                <col style="width: 10%;">
                <col style="width: 60%;">
                <col style="width: 30%;">
              </colgroup>
              <tr>
                <td (click)="openModal(item)" rowspan="2" style="padding:30px 20px"><ion-img src="../../assets/icon/notinew.png" class="icondelete"></ion-img></td>
                <td (click)="openModal(item)" class="notistitleactive">{{item.tajuk}}</td>
                <td rowspan="2" class="notisdate"><span *ngIf="i != 0">{{item.date}} &nbsp;</span>
                  <input type="checkbox" *ngIf="deleteall == true" style="display: inline-block;margin:0;opacity:1" [(ngModel)]="item.selected"></td>
              </tr>
              <tr>
                <td (click)="openModal(item)" class="notisbodyactive">{{item.keterangan}}</td>
              </tr>
            </table>
          </ion-item>   
          <ion-item-options side="end" *ngIf="item.id != undefined && item.id != null">
            <ion-item-option color="danger" style="padding: 0px 10px;"><ion-img src="../../assets/icon/delete.png" class="icondelete" (click)="deleteone(item.id)"></ion-img></ion-item-option>
          </ion-item-options>  
        </ion-item-sliding>
        <ion-item-sliding *ngIf="item.view == true">
          <ion-item style="background-color: white;">  
            <table style="border-bottom: 0.7px solid #E8E8E8; height: 58px;width: 100%;">
              <colgroup>
                <col style="width: 10%;">
                <col style="width: 60%;">
                <col style="width: 30%;">
              </colgroup>
              <tr>
                <td (click)="openModal(item)" rowspan="2" style="padding:30px 20px; height:100%;"><ion-img src="../../assets/icon/notiold.png" class="icondelete" ></ion-img></td>
                <td (click)="openModal(item)" class="notistitleactive" style="opacity: 0.3; height:100%;">{{item.tajuk}}</td>
                <td rowspan="2" class="notisdate" ><span *ngIf="i != 0">{{item.date}} &nbsp;</span>
                  <input type="checkbox" *ngIf="deleteall == true" style="display: inline-block;margin:0;opacity:1" [(ngModel)]="item.selected">
                </td>
              </tr>
              <tr>
                <td (click)="openModal(item)" class="notisbodyactive" style="height:100%;">{{item.keterangan}}</td>
              </tr>
            </table>
          </ion-item>   
          <ion-item-options side="end">
            <ion-item-option color="danger" style="padding: 0px 10px;" (click)="deleteone(item.id)"><ion-img src="../../assets/icon/delete.png" class="icondelete" ></ion-img></ion-item-option>
          </ion-item-options>  
        </ion-item-sliding>
      </div>
      <div style="width: 100%; text-align: center; padding: 20px 0px;" *ngIf="deleteall == true">
        <button class="button" (click)="deleteallbtn()">{{ 'notis.buang' | translate }}</button>
      </div>
    </div> 
  </div>
</ion-content>
