<ion-content>
  <div class="main">
    <div class="container2">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt" style="width:70%;margin: auto;display: inline-block;">{{ 'akaun.maklumat' | translate
          }}</span>
      </div>
    </div>
  </div>

  <div class="main2">
    <div class="delete">
      <button (click)="kemaskini()"
        style="height: 50px; width: 100px; background-color: rgb(108, 31, 108); margin-right: 10px;">
        Kemaskini
      </button>
      <button (click)="hapus()" style="height: 50px; width: 100px">
        <ion-icon name="trash" style="align-items: baseline;"></ion-icon>
        Hapus
      </button>
    </div>

    <div class="container3">
      <div class="jumlah">
        {{ 'akaun.jumlah' | translate }}
      </div>
      <div *ngIf="jumexist==true" class="jumlahrm">
        RM {{jumlah}}
      </div>
      <div *ngIf="jumexist==false" class="jumlahrm">
        RM 00.00
      </div>
      <div class="byrsblm">
        {{ 'home.byrsebelum' | translate }} <span style="color: #D23330;">{{bayarsblm}}</span>
      </div>
      <div style="padding-top: 25px;">
        <table style="width: 100%;text-align: center;">
          <colgroup>
            <col style="width: 50%;">
            <col style="width: 50%;">
          </colgroup>
          <tr>
            <td>
              <div class="bilcard">
                <div class="bilinfo">
                  {{ 'akaun.semasa' | translate }}
                </div>
                <div class="bilval">
                  {{data.kadar_sewa}}
                </div>
              </div>
            </td>
            <td>
              <div class="bilcard">
                <div class="bilinfo">
                  {{ 'akaun.tunggak' | translate }}
                </div>
                <div class="bilval">
                  {{data.jumlah_tunggakan}}
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div style="padding-top: 25px;">
        <div class="boxgrey">
          <div class="tetapanword">{{ 'akaun.maklumat' | translate }}</div>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.nama' | translate }} <br>
          <ion-input [(ngModel)]="nama" type="text" class="input"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.bandar' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.bandar"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.nokp2' | translate }} <br>
          <ion-input type="text" [(ngModel)]="no_ic" class="input" [value]="data.no_kad_pengenalan"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.noru mah' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.no_rumah"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.taman' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.taman"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.kate' | translate }} <br>
          <ion-input type="text" [(ngModel)]="kategori" class="input" [value]="data.kategori"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.kadarsewa' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.kadar_sewa"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.jenisrumah' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.jenis_rumah"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.tlhbayar' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.jumlah_telah_bayar"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.pinjaman' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.jumlah_pinjaman"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.tunggakan' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.jumlah_tunggakan"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.mulaperjanjian' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.tarikh_mula_perjanjian"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.tamatperjanjian' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.tarikh_tamat_perjanjian"></ion-input>
        </div>
        <div class="boxwhite" style="border-bottom: 0.7px solid #E8E8E8">
          {{ 'akaun.baki' | translate }} <br>
          <ion-input type="text" class="input" [value]="data.jumlah_baki"></ion-input>
        </div>
        <div style="padding:60px 0px 20px 0px;text-align: center;">
          <button ion-button class="button" (click)="bayar()">{{ 'bayar' | translate }}(1)</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>