.container2 {
    padding-top: 50px;
    padding: 50px 25px 20px 10px;
    height: 180px;
}

.container3 {
    padding: 40px 0px;
    height: 700px;
}

.jumlah {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.165px;
    color: #494949;
    text-align: center;
}

.jumlahrm {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.165px;
    color: #D23330;
    text-align: center;
}

.byrsblm {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 123%;
    text-align: center;
    letter-spacing: -0.165px;
    color: #3D2C7C;
}

.bilcard {
    width: 138px;
    height: 81px;
    left: 63px;
    top: 327px;
    background: #FFFFFF;
    border: 1px solid #F7FAFD;
    box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 17px;
    text-align: center;
    padding-top: 20px;
    display: inline-block;
}

.bilinfo {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #494949;
    text-align: center;
}

.bilval {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.165px;
    color: #D23330;
    text-align: center;
}

.boxwhite {
    color: #3D2C7C;
    padding: 25px 0px 0px 0px;
    font-size: 16px;
    width: 80%;
    margin:auto;
}

.input {
    color: black;
    display: inline-block;
    width: 100%;
}

.button {
    background-color: #3D2C7C;
    border: 1pt solid #3D2C7C;
    height: 48px;
    width: 70%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}