.button {
    background-color: #3D2C7C;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: white;
}