.container2 {
  padding-top: 50px;
  height: 650px;
  text-align: left;
}

.selects {
  width: 100%;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #3D2C7C;
  box-sizing: border-box;
  border-radius: 9px;
  --placeholder-color:#494949 !important;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 14px #C5D7EE;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: black;
}

.cardaduan {
  background: #FFFFFF;
  border: 1px solid #F7FAFD;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
  border-radius: 10px;
  width: 143px;
  height: 171px;
  margin: auto;
  display: inline-block;
  padding: 30px 10px;
}

.cardicon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.headerbox {
  padding: 0px 20px 0px 20px;
}

.select {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #3D2C7C;
  box-sizing: border-box;
  border-radius: 9px;
  --placeholder-color:#494949;
}

.label1 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #494949;
}


.descbox {
  padding: 40px 60px 40px 60px;
}

.textarea {
  width: 90%;
  background: #FFFFFF;
  border: 1px solid #3D2C7C;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 14px #C5D7EE;
  border-radius: 9px;
  padding:20px;
  color: black;
}

.button {
  background-color: #3D2C7C;
  height: 48px;
  width: 100%;
  border-radius: 10px;
  margin:auto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.container2 {
  padding-top: 50px;
  height: 650px;
}

.headerbox {
  padding: 0px 20px 0px 20px;
}

.select {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #3D2C7C;
  box-sizing: border-box;
  border-radius: 9px;
  --placeholder-color:#494949;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #494949;
  // padding-left: 20px;
}

.descbox {
  padding: 40px 60px 40px 60px;
}

.textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #3D2C7C;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 14px #C5D7EE;
  border-radius: 9px;
  padding:20px;
  color: black;
}

.bgbulat {
  border-radius: 50%;
  width: 40px !important;
  background: #EAE4FF;
  // padding-left: 20px;
  // width: 60%;
}
.bayaran {
  outline: 0;
  border-width: 0 0 2px;
  color: #D23330;
  width: 100%;
  background: #FFFFFF;
  font-size: 30px;
  font-weight: 800;
}

.bayaran::placeholder {
  color: #D23330;
}


.info{

  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #494949;

  display: grid;
 grid-template-columns: 200px 200px ;
 color: blue;

}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;

}
