.container2 {
    padding-top: 50px;
    height: 650px;
    text-align: center;
}

.cardaduan {
    background: #FFFFFF;
    border: 1px solid #F7FAFD;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 10px;
    width: 150px;
    height: 200px;
    display: inline-block;
    padding: 30px 10px;
}

.tambah {
    width: 45px;
    height: 45px;
    margin: auto;
}

.count {
    width: 45px;
    height: 45px;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #3D2C7C;
}

.cardword {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.165px;
    color: #000000;
    padding-top: 10px;
}

.tambahdesc {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    align-items: center;
    text-align: center;
    color: #494949;
    padding: 10px 0px;
    height: 80px;
}

.cardaduan2 {
    background: #FFFFFF;
    border: 1px solid #F7FAFD;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 10px;
    width: 310px;
    height: 171px;
    display: inline-block;
    padding: 10px 30px;
}

.cardhead {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.165px;
    color: #494949;
    text-align: left;
    padding: 9px 0px;
}

.carddetail {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.165px;
    color: #3D2C7C;
    text-align: left;
    padding: 9px 0px;
}