<ion-content>
  <div class="main">
    <div class="container">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt">{{ 'aduan.tambahaduan' | translate }}</span>
      </div>
      <div style="padding-top: 40px;">
        <ion-img src="../../assets/icon/aduan.png" class="icontetapan"></ion-img>
      </div>
    </div>
  </div>
  <div class="main2">
    <div class="container2">
      <div class="headerbox">
        <div class="label">{{ 'aduan.silaisi' | translate }}.</div>
        <div class="descbox">
          <ion-select [(ngModel)]="pilih_jenis" placeholder="Pilih Jenis Akaun" class="select"
            style="margin-bottom: 10px;">
            <ion-select-option value="akaun rumah ">
              Akaun Rumah
            </ion-select-option>
            <ion-select-option value="akaun premis">
              Akaun Premis
            </ion-select-option>
          </ion-select>
          <ion-select okText="{{ 'semak.ok' | translate }}" cancelText="{{ 'semak.cancel' | translate }}" class="select"
            placeholder="{{ 'aduan.pilihkate' | translate }}" [(ngModel)]="KateVal" (ionChange)="ChangeDDKate()">
            <ion-select-option *ngFor="let kate of ddKategori; let i = index" [value]="kate.kategori_id">
              {{kate.kategori}}
            </ion-select-option>
          </ion-select>
          <div style="height: 10px;"></div>
          <ion-select okText="{{ 'semak.ok' | translate }}" cancelText="{{ 'semak.cancel' | translate }}" class="select"
            placeholder="{{ 'aduan.pilihrosak' | translate }}" [(ngModel)]="RosakVal">
            <ion-select-option *ngFor="let rosak of ddRosak; let i = index" [value]="rosak.kerosakan_id">
              {{rosak.kerosakan}}
            </ion-select-option>
          </ion-select>
          <div style="height: 50px;"></div>
          <div class="label">{{ 'aduan.catatan' | translate }}</div>
          <div style="height: 10px;"></div>
          <textarea class="textarea" rows="7" cols="50" [(ngModel)]="CatatanVal"></textarea>
        </div>
        <div style="padding: 30px 30px;">
          <button ion-button class="button" (click)="hantar()">{{ 'aduan.hantar' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>