.container2 {
    padding: 50px 80px 20px 60px;
    height: 650px;
}

.word1 {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #3D2C7C;
    padding-bottom: 20px;
}

.word2 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #494949;
    padding-bottom: 50px;
}

.boxwhite {
    color: #3D2C7C;
    padding: 25px 0px 0px 0px;
    font-size: 16px;
    width: 100%;
    margin:auto;
}

.button {
    background-color: #3D2C7C;
    height: 48px;
    width: 100%;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}