<div class="contain">
  <div class="card">
    <table style="width: 100%;" (click)="perumahan()">
      <tr>
        <td style="width:30%;"><img src="../../assets/icon/perumahan.png" class="icon"/></td>
        <td>
            <span class="word">
              Akaun<br>Perumahan
            </span>
        </td>
      </tr>
    </table>
  </div>
  <div style="height: 15px;"></div>
  <div class="card">
    <table style="width: 100%;" (click)="premis()">
      <tr>
        <td style="width:30%;"><img src="../../assets/icon/premis.png" class="icon"/></td>
        <td>
            <span class="word">
              Akaun<br>Premis
            </span>
        </td>
      </tr>
    </table>
  </div>  
</div>
