.menubtn {
    background: #FFFFFF;
    border: 1px solid #3D2C7C;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 10px;
    width: 100%;
    height: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #3D2C7C;
    vertical-align: middle;
    line-height: 70px;
}

.cont {
    padding: 20px 10px 50px 10px;
}