.button {
    width: 134px;
    height: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    background: #3D2C7C;
    border-radius: 10px;
}