<ion-content>
  <div class="main">
    <div class="container2">
      <div class="header">
        <ion-icon name="chevron-back-outline" style="float: left;" (click)="back()"></ion-icon>
        <span class="headertxt" style="width:70%;margin: auto;display: inline-block;">{{ 'bayaran.resit' | translate
          }}</span>
      </div>
    </div>
  </div>

  <div class="headresit">
    <span>Thank You,</span><br>
    <span>Here's your receipt.</span>
  </div>


  <ng-container *ngIf="reciept">
    <ion-grid fixed>

      <ion-row>
        <ion-col size="6"><span>Status</span></ion-col>
        <ion-col size="6"> <span>{{reciept.message}}</span> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> <span>Transaction ID</span></ion-col>
        <ion-col size="6"><span>{{reciept.transaction_id}}</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><span>Reference ID:</span></ion-col>
        <ion-col size="6"><span>{{reciept.reference_id}}</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><span>Amount</span></ion-col>
        <ion-col size="6"><span style="color: red;">{{reciept.amount}}</span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6"><span>Timestamp:</span></ion-col>
        <ion-col size="6"><span>{{reciept.transaction_timestamp}}</span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6"><span>Buyer Bank Name:</span></ion-col>
        <ion-col size="6"><span>{{reciept.buyer_bank_name}}</span></ion-col>
      </ion-row>


    </ion-grid>

  </ng-container>

  <ng-container *ngIf="paymentService.reciept.value !== {}">

    <p>{{paymentService.reciept.value |json}}</p>

  </ng-container>

  <h1>Doneeeeeee</h1>








</ion-content>
