.container2 {
    padding-top: 50px;
    padding: 50px 25px 20px 10px;
    height: 180px;
}

.container3 {
    padding: 30px 20px;
    height: 700px;
}

.headresit {
    color: black;
}
span{
  color: rgb(62, 77, 62);
}

.card {
    background: #FFFFFF;
    box-shadow: 4px 0px 8px rgba(73, 87, 184, 0.2), 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 10px;
    height: 300px;
    color: black;
    padding: 20px;
}

.button {
    background-color: #3D2C7C;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    margin:auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
