.container2 {
    padding-top: 50px;
    padding: 50px 25px 20px 10px;
    height: 180px;
}

.container3 {
    padding: 30px 10px 20px 10px;
    height: 700px;
}

.headerbox {
    padding: 0px 40px 30px 40px;
}

.label {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #3D2C7C;
    padding-bottom: 20px;
}

.cardaduan2 {
    background: #FFFFFF;
    border: 1px solid #F7FAFD;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
    border-radius: 10px;
    width: 100%;
    height: 171px;
    display: inline-block;
    padding: 10px 30px;
}

.cardhead {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.165px;
    color: #494949;
    text-align: left;
    padding: 9px 0px;
}

.carddetail {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.165px;
    color: #3D2C7C;
    text-align: left;
    padding: 9px 0px;
}