.container2 {
  padding-top: 100px;
  height: 650px;
  text-align: center;
}

.cardaduan {
  background: #FFFFFF;
  border: 1px solid #F7FAFD;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
  border-radius: 10px;
  width: 143px;
  height: 171px;
  margin: auto;
  display: inline-block;
  padding: 30px 10px;
}

.cardicon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.cardword {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.165px;
  color: #000000;
  padding-top: 20px;
}
.container2 {
  padding-top: 100px;
  height: 650px;
  text-align: center;
}

.cardaduan {
  background: #FFFFFF;
  border: 1px solid #F7FAFD;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(73, 87, 184, 0.2);
  border-radius: 10px;
  width: 143px;
  height: 171px;
  margin: auto;
  display: inline-block;
  padding: 30px 10px;
}

.cardicon {
  width: 64px;
  height: 64px;
  margin: auto;
}

.cardword {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.165px;
  color: #000000;
  padding-top: 20px;
}
